---
---
<aside class="sidebar">
    <div class="brand-block" id="btnReset">
        <h1 class="hero-title">YVL<br>/ SH</h1>
    </div>
    <nav class="nav-vertical">
        <button class="nav-main active" data-target="view-data" data-i18n="nav_data">01_DATA</button>
        <button class="nav-main" data-target="view-media" data-i18n="nav_media">02_VIDEO</button>
        <button class="nav-main" data-target="view-quotes" data-i18n="nav_quotes">03_MINDS</button>
        <div class="nav-system">
            <div id="sysClock" class="nav-sm clock-box">00:00:00</div>
            <button id="langToggle" class="nav-sm">[ ES ]</button>
            <button id="themeToggle" class="nav-sm">[ DAY ]</button>
        </div>
    </nav>
</aside>