---
---
<div class="telemetry-row">
    <div class="telemetry-label" data-i18n="label_telemetry">live_sensors</div>
    <div class="data-list">
        <div class="data-item interactive" data-car-id="GT3_CUP">
            <div class="item-top">
                <span class="big-number">I</span>
                <span class="tech-badge pulse-badge">PRJ_992</span>
            </div>
            <div class="item-bottom">
                <span class="item-title" data-i18n="item_engine">Porsche 911 GT3 Cup</span>
                <span class="item-desc" data-i18n="desc_gt3">FLAT-6 NA // 510 HP</span>
            </div>
        </div>

        <div class="data-item interactive" data-car-id="RB19_F1">
            <div class="item-top">
                <span class="big-number">II</span>
                <span class="tech-badge pulse-badge">HRC_PWR</span>
            </div>
            <div class="item-bottom">
                <span class="item-title" data-i18n="item_nurburg">Red Bull RB19</span>
                <span class="item-desc" data-i18n="desc_rb19">V6 HYBRID // 15K RPM</span>
            </div>
        </div>

        <div class="data-item interactive" data-car-id="MAZDA_787B">
            <div class="item-top">
                <span class="big-number">III</span>
                <span class="tech-badge pulse-badge">R26B_4</span>
            </div>
            <div class="item-bottom">
                <span class="item-title" data-i18n="item_aero">Mazda 787B</span>
                <span class="item-desc" data-i18n="desc_787">4-ROTOR // LEMANS SPEC</span>
            </div>
        </div>

        <div class="data-item interactive" data-car-id="AUDI_S1">
            <div class="item-top">
                <span class="big-number">IV</span>
                <span class="tech-badge pulse-badge">GRP_B_E2</span>
            </div>
            <div class="item-bottom">
                <span class="item-title" data-i18n="item_max">Audi Sport Quattro S1</span>
                <span class="item-desc" data-i18n="desc_s1">I5 TURBO // GRP.B AERO</span>
            </div>
        </div>
    </div>
</div>