---
---
<div class="onboard-row">
    <div class="video-station">
        <div class="monitor-cell">
            <div class="monitor-header">
                <span class="monitor-id" data-i18n="cam_01">cam_01</span>
            </div>
            <div class="monitor-screen">
                <div class="video-overlay"><span class="blink">[ ESTABLISH_LINK ]</span></div>
                <video src="https://github.com/Tranylcypromina/yvl/releases/download/v1.0/cam_1-SennaMonaco.mp4" loop playsinline controls preload="metadata" poster="/media/Poster/poster_01.jpg"></video>
            </div>
        </div>
        <div class="monitor-cell">
            <div class="monitor-header">
                <span class="monitor-id" data-i18n="cam_02">cam_02</span>
            </div>
            <div class="monitor-screen">
                <div class="video-overlay"><span class="blink">[ ESTABLISH_LINK ]</span></div>
                <video src="https://github.com/Tranylcypromina/yvl/releases/download/v1.0/cam_2-AlonsoMalasya.mp4" loop playsinline controls preload="metadata" poster="/media/Poster/poster_02.jpg"></video>
            </div>
        </div>
        <div class="monitor-cell">
            <div class="monitor-header">
                <span class="monitor-id" data-i18n="cam_03">cam_03</span>
            </div>
            <div class="monitor-screen">
                <div class="video-overlay"><span class="blink">[ ESTABLISH_LINK ]</span></div>
                <video src="https://github.com/Tranylcypromina/yvl/releases/download/v1.0/cam_3-Porsche.mp4" loop playsinline controls preload="metadata" poster="/media/Poster/poster_03.jpg"></video>
            </div>
        </div>
        <div class="monitor-cell">
            <div class="monitor-header">
                <span class="monitor-id" data-i18n="cam_04">cam_04</span>
            </div>
            <div class="monitor-screen">
                <div class="video-overlay"><span class="blink">[ ESTABLISH_LINK ]</span></div>
                <video src="https://github.com/Tranylcypromina/yvl/releases/download/v1.0/cam_4-BMW.mp4" loop playsinline controls preload="metadata" poster="/media/Poster/poster_04.jpg"></video>
            </div>
        </div>
        <div class="monitor-cell">
            <div class="monitor-header">
                <span class="monitor-id" data-i18n="cam_05">cam_05</span>
            </div>
            <div class="monitor-screen">
                <div class="video-overlay"><span class="blink">[ ESTABLISH_LINK ]</span></div>
                <video src="https://github.com/Tranylcypromina/yvl/releases/download/v1.0/cam_5-BMW.mp4" loop playsinline controls preload="metadata" poster="/media/Poster/poster_05.jpg"></video>
            </div>
        </div>
        <div class="monitor-cell">
            <div class="monitor-header">
                <span class="monitor-id" data-i18n="cam_06">cam_06</span>
            </div>
            <div class="monitor-screen">
                <div class="video-overlay"><span class="blink">[ ESTABLISH_LINK ]</span></div>
                <video src="https://github.com/Tranylcypromina/yvl/releases/download/v1.0/cam_6-Laurel.mp4" loop playsinline controls preload="metadata" poster="/media/Poster/poster_06.jpg"></video>
            </div>
        </div>
    </div>
</div>